:root {
    --orange: #df7d58;
    --white: white;
    --teal: #3E9792;

    --formBlack: #131A21;
    --bodyBlack: #ADADAD; /* Adjusted for higher contrast */
    --wrapperBlack: #192026; /* Adjusted for higher contrast */
}