:root {
    --orange: #df7d58;
    --white: white;
    --bodyTeal: #3E9792;

    --buttonGray: #202932;

    --formBlack: #131A21;
    --bodyBlack: #ADADAD; /* Adjusted for higher contrast */
    --wrapperBlack: #131A21; /* Adjusted for higher contrast */
}