a {
    color: var(--bodyTeal);
}

body {
    // background: linear-gradient(to top right, var(--bodyBlack), var(--bodyBlack), var(--bodyBlack), var(--bodyTeal));
    background-color: var(--bodyBlack);
    color: var(--white);
    font-family: roboto;
    margin: var(--spacing-medium);
}

button {
    background-color: var(--buttonGray);
    border: 0;
    color: var(--white);
    padding: var(--spacing-small) 0;

    &:hover {
        cursor: pointer;
    }
}

h1 {
    font-size: clamp(15px, 3vw, 25px);
}

hr {
    color: var(--bodyTeal);
    height: 3px;
    margin: var(--spacing-small);
}

img {
    height: auto;
    width: 100%;
}

input, textarea {
    color: var(--white);
    background-color: var(--formBlack);
    border: 4px solid var(--bodyTeal);
}

.description {
    p {
        padding: var(--spacing-small) 0 0 0;
    }
}

.padding-container {
    padding: 5vw 5vw;
}

.result {
    background-color: var(--formBlack);
    border: 4px solid var(--bodyTeal);
    padding: var(--spacing-small);

    li {
        padding-left: 20px;
        margin-left: 20px;
    }

    p {
        padding: 0 0 20px;
    }
}

.textarea {
    width: 100%;


}

.wrapper {
    background-color: var(--wrapperBlack);
}