@mixin styleBox {
    color: var(--white);
    background: var(--formBlack);
    border-radius: $borderRadius;
    box-shadow: inset 0 0 5px var(--bodyBlack), 0 0 5px var(--bodyBlack);
}

@mixin styleHr {
    border: 4px solid var(--formBlack);
    padding: var(--spacing-small);
}

a {
    color: var(--teal);
}

body {
    background-color: var(--bodyBlack);
    color: var(--white);
    font-family: roboto;
    margin: 5vw;
}

button {
    background-color: var(--teal);
    border: 0;
    border-radius: $borderRadius;
    color: var(--white);
    font-size: clamp(12px, 3vw, 16px);
    padding: var(--spacing-small) 0;

    &:hover {
        background-color: var(--bodyBlack);
        color: var(--formBlack);
        cursor: pointer;
    }
}

h1 {
    font-size: clamp(15px, 3vw, 25px);
}

h3 {
    font-size: clamp(12px, 2vw, 20px);
}

hr {
    @include styleBox();

    color: var(--teal);
    height: 3px;
    margin: var(--spacing-small);
}

img {
    height: auto;
    width: 100%;
}

textarea {
    @include styleBox();
    @include styleHr();
}

.description {
    p {
        padding: var(--spacing-small) 0 0 0;
    }
}

.padding-container {
    padding: 5vw 5vw;
}

.result {
    @include styleHr();
    @include styleBox();

    li {
        padding-left: 20px;
        margin-left: 20px;
    }

    p {
        padding: 0 0 20px;
    }
}

.textarea {
    width: 100%;
}

.wrapper {
    background-color: var(--wrapperBlack);
}