:root {
    --spacing-small: 20px;
    --spacing-medium: 40px;
    --spacing-large: 80px;
}  

// breaking points
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// border-radius
$borderRadius: 5px;