@font-face {
    font-family: 'chalk';
    src: url('./fonts//CfBlackboardPersonalRegular-AKPg.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

@mixin chalk() {
    font-family: 'chalk', sans-serif;
}

body {
    background-image: url("./img/wall.webp");
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    -ms-overflow-style: thin;
    scrollbar-width: thin;

    @include chalk();
}

button {
    color: #315B46;
    background-color: white;
    border: none;
    padding: 10px;
    transition: all 0.3s;
    @include chalk();

    &:focus, &:hover {
        color: white;
        background-color: transparent;
        cursor: pointer;
        text-decoration: underline;
    }
}

form {
    & > * {
        margin-bottom: 10px;
    }
}

h1 {
    margin-bottom: 20px;
}

main {
    background-image: url("./img/chalkboard.png");
    background-size: cover;
    border-image: url("./img/chalkboard-frame.png") 30 round;
    border-style: solid;
    border-width: 19px;
    max-height: 60vh;
    padding: 5vw;
}

textarea {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'CustomFont', sans-serif;
    font-size: 20px;
    min-height: 150px;
    outline: none;
    width: 100%;

    @include chalk();
}

select {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}  